body {
  margin: 10px 30px;
}

section {
  margin-top: 20px;
}

.btn {
  line-height: 18px;
}

#pattern {
  display: table;
}

#pattern>div {
  display: table-row;
}

#pattern>div>div {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

#pattern textarea {
  position: relative;
  z-index: 10;
}

#pattern .auto-growing-editor {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

#flags {
  width: 100px;
}

#flags .btn:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}

#matches th:first-child {
  width: 30px;
}

/* editable content */
.auto-growing-editor,
.auto-growing-editor-container {
  width: 100%;
}
.auto-growing-editor {
  padding: 4px 6px;
  font-family: "courier new", monospace;
  height: 18px;
  border: 1px solid #ccc;
  text-align: center;
}

.auto-growing-editor mark {
  color: transparent;
}

#haystack.auto-growing-editor,
#haystack.auto-growing-editor+pre
{
  text-align: left;
}

/* based on regex-colorizer/thems/regexpal.css */
b, i, u {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* metasequence */
b { background: #aad1f7; }

/* char class */
i { background: #f9ca69; }

/* char class: metasequence */
i b { background: #f7a700; }

/* char class: range-hyphen */
i u { background: #efba4a; }
.g1 { background: #d2f854; }
.g2 { background: #9ec70c; }
.g3 { background: #ecc9f7; }
.g4 { background: #54b70b; }
.g5 { background: #b688cf; }

b.err { background: #ff4300; }
