[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "vendor/jquery.auto-grow"]
	path = vendor/jquery.auto-grow
	url = git://github.com/loonkwil/jquery.auto-grow.git
[submodule "vendor/regex-colorizer"]
	path = vendor/regex-colorizer
	url = git://github.com/slevithan/regex-colorizer.git
