.root {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "header"
    "pattern"
    "input"
    "matches";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: header;
}

.pattern {
  grid-area: pattern;
}

.input {
  grid-area: input;
}

.input mark {
  background-color: var(--mark-bg-default);
  transition: background-color 200ms;
}

.input mark span {
  background-color: transparent;
  transition: inherit;
}

@media (prefers-reduced-motion: reduce) {
  .input mark {
    transition-duration: 0ms;
  }
}

.matches {
  grid-area: matches;
}

@media screen and (min-width: 1024px) {
  .root {
    grid-template-areas:
      "header header"
      "pattern matches"
      "input matches";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
