.root {
  resize: vertical;
  border: 2px solid var(--border-default);
  border-radius: 0.5rem;
  background: var(--input-bg);
  padding: 0.5rem 0.75rem 0.5rem;
  overflow: hidden;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto 1fr;
  min-height: 4rem;
  user-select: none;
  transition: border-color 150ms;
  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0ms;
  }

  &:focus-within {
    border-color: var(--border-active);
  }

  &:has(textarea:invalid) {
    border-color: var(--border-error);
  }

  & label {
    font-size: var(--text-sm);
    font-weight: bold;
    color: var(--text-secondary);
  }
}

.container {
  overflow: auto;
  height: 100%;
  display: grid;

  & > * {
    grid-area: 1 / 1;
    border: none;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    background: transparent;
    color: transparent;
  }

  & > textarea {
    color: var(--text-main);
  }
}
