.root {
  & table {
    white-space: pre-wrap;
    width: 100%;
    border-collapse: collapse;

    & thead {
      text-align: left;
    }

    :is(th, td) {
      padding: 0.5rem 0.75rem;
    }

    & td {
      border-top: 1px solid var(--border-secondary);

      &:empty:after {
        content: " ";
      }
    }
  }

  & button {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    text-decoration: underline;
  }
}
